
#correctD, #incorrectD, #correct, #incorrect, #txtIDModalDelete,
#txtIDModalModify, .txtID{
    display: none;
}

.alignButtons{
    float: left;
}

.marginBottom{
    margin-bottom: 0px !important;
}

.iconColor{
    color: #424242 !important;
}
